<header class="header header-intro-clearance header-4">
  <!-- Bouton mobile à GAUCHE maintenant -->
  <button class="mobile-menu-toggle d-lg-none" (click)="onMobileMenuClick($event)">
    <i class="fas fa-bars"></i>
  </button>

  <!-- HEADER TOP - Barre d'informations
  <div class="header-top">
    <div [class]="containerClass">
      <div class="header-left">
        <a routerLink="/" class="logo">
          <img src="assets/images/zone_11.png" alt="zone adsl">
        </a>
        <img src="assets/images/avis.png" alt="Avis">
        <ul class="navbar_right">
          <li class="callcenterIsOpen">
            <a href="tel:+33980803537" class="phone_inbound">
              <i class="icon-phone"></i> 09 80 80 35 37
            </a>
            <span class="freecall">Appel gratuit</span>
          </li>
        </ul>
      </div>
    </div>
  </div>-->



  <!-- NAVIGATION PRINCIPALE -->
  <div class="header-navigation">
    <div [class]="containerClass">
      <div class="nav-left">
        <div class="logo" style="margin-right: 20px">
          <a routerLink="/">
            <img src="assets/images/TELEVORA2.png" alt="Logo" class="logo-img" style="width: 150px; max-height: 50px">
          </a>
        </div>
        <ul class="main-nav">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Accueil
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/actualites">Actualités</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">
              Box Internet <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/box-internet/adsl">ADSL</a></li>
              <li><a routerLink="/box-internet/fibre">Fibre</a></li>
              <li><a routerLink="/box-internet/comparatif">Box 4G</a></li>
              <li><a routerLink="/box-internet/comparatif">Box 5G</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="javascript:;">
              Forfait Mobile <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/mobile/forfait-sans-engagement">Free</a></li>
              <li><a routerLink="/mobile/forfait-bloque">Orange</a></li>
              <li><a routerLink="/mobile/forfait-bloque">SFR</a></li>
              <li><a routerLink="/mobile/forfait-bloque">Bouygues</a></li>
            </ul>
          </li>
          <li class="nav-item has-dropdown" [class.open]="isDropdownOpen('testDebit')">
            <a routerLink="/test-debit" (click)="closeMobileMenu()">Test Débit <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu" [class.open]="isDropdownOpen('testDebit')">
              <li><a routerLink="/test-eligibilite" (click)="closeMobileMenu()">Test éligibilité fibre</a></li>
              <li><a routerLink="/test-debit-internet" (click)="closeMobileMenu()">Test de débit internet</a></li>
              <li><a routerLink="/reseau" (click)="closeMobileMenu()">Réseau</a></li>
            </ul>
          </li>
          <li class="nav-item has-dropdown">
            <a routerLink="/freepro" routerLinkActive="active">
              FreePro <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/freepro/mobile">Free Mobile</a></li>
              <li><a routerLink="/freepro/box">Free Box</a></li>
            </ul>
          </li>
          <li class="nav-item has-dropdown">
            <a routerLink="/gaz-electricite" routerLinkActive="active">
              Gaz & Électricité <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/gaz-electricite/gaz">Gaz</a></li>
              <li><a routerLink="/gaz-electricite/electricite">Électricité</a></li>
            </ul>
          </li>




          <li class="nav-item has-dropdown">
            <a routerLink="/grvv-corp" routerLinkActive="active">
              GRVV CORP <i class="icon-angle-down"></i>
            </a>
          </li>

          <li class="nav-item has-dropdown">
            <a routerLink="/assurance" routerLinkActive="active">
              Assurance<i class="icon-angle-down"></i>
            </a>
          </li>

        </ul>
      </div>

      <div class="sticky-wrapper" [style.height]="utilsService.isSticky ? utilsService.stickyHeight + 'px' : ''">
        <div class="header-bottom sticky-header" [class.fixed]="utilsService.isSticky">
          <div class="w-100 px-4 d-flex justify-content-between align-items-center" style="max-width: 1400px; margin: 0 auto;">
            <div style="justify-content: center"></div>
            <div class="header-right">
              <ul class="navbar_right">
                <li>
                  <button (click)="onShowModel()" class="rappel">être rappelé</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MENU MOBILE - MODIFIÉ avec icônes sociales -->
  <div class="mobile-nav" [class.active]="isMobileMenuOpen">
    <div class="mobile-nav-content" [class.active]="isMobileMenuOpen">
      <div class="mobile-nav-header">
        <!-- Logo centré -->
        <a routerLink="/" class="logo" (click)="closeMobileMenu()">
          <img src="assets/images/zone_11.png" alt="zone adsl">
        </a>
      </div>

      <!--Bottons-->
      <div class="mobile-nav-actions">
        <button (click)="onShowModel(); closeMobileMenu()" class="btn-action">être rappelé</button>
      </div>


      <ul class="mobile-nav-menu">
        <li class="nav-item">
          <a routerLink="/" (click)="closeMobileMenu()">Accueil</a>
        </li>

        <li class="nav-item has-dropdown" [class.open]="isDropdownOpen('boxInternet')">
          <a href="javascript:void(0)" (click)="toggleMobileDropdown('boxInternet')">
            Box Internet <i class="icon-angle-down"></i>
          </a>
          <ul class="dropdown-menu" [class.open]="isDropdownOpen('boxInternet')">
            <li><a routerLink="/box-internet/adsl" (click)="closeMobileMenu()">ADSL</a></li>
            <li><a routerLink="/box-internet/fibre" (click)="closeMobileMenu()">Fibre</a></li>
            <li><a routerLink="/box-internet/comparatif" (click)="closeMobileMenu()">Comparatif</a></li>
          </ul>
        </li>

        <li class="nav-item has-dropdown" [class.open]="isDropdownOpen('forfaitMobile')">
          <a href="javascript:void(0)" (click)="toggleMobileDropdown('forfaitMobile')">
            Forfait Mobile <i class="icon-angle-down"></i>
          </a>
          <ul class="dropdown-menu" [class.open]="isDropdownOpen('forfaitMobile')">
            <li><a routerLink="/mobile/forfait-sans-engagement" (click)="closeMobileMenu()">Sans engagement</a></li>
            <li><a routerLink="/mobile/forfait-bloque" (click)="closeMobileMenu()">Forfait bloqué</a></li>
          </ul>
        </li>
        <li class="nav-item has-dropdown" [class.open]="isDropdownOpen('testDebit')">
          <a routerLink="/test-debit" (click)="closeMobileMenu()">Test Débit <i class="icon-angle-down"></i></a>
          <ul class="dropdown-menu" [class.open]="isDropdownOpen('testDebit')">
            <li><a routerLink="/test-eligibilite" (click)="closeMobileMenu()">Test éligibilité fibre</a></li>
            <li><a routerLink="/test-debit-internet" (click)="closeMobileMenu()">Test de débit internet</a></li>
            <li><a routerLink="/reseau" (click)="closeMobileMenu()">Réseau</a></li>
          </ul>
        </li>



        <li class="nav-item">
          <a routerLink="/Actualites" (click)="closeMobileMenu()">Actualités</a>
        </li>
        <li class="nav-item">
          <a routerLink="/freepro" (click)="closeMobileMenu()">FreePro</a>
        </li>
        <li class="nav-item">
          <a routerLink="/gaz-electricite" (click)="closeMobileMenu()">Gaz & Électricité</a>
        </li>
        <li class="nav-item">
          <a routerLink="/grvv-corp" (click)="closeMobileMenu()">GRVV CORP</a>
        </li>
      </ul>

      <!-- Icônes sociales ajoutées -->
      <div class="mobile-social-icons">
        <a href="https://wa.me/33756892743" class="social-icon" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.facebook.com/zoneadslmobile/" class="social-icon" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCvqCW_p1nmjJPdJ_bRDOfDA" class="social-icon" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/company/zoneadslmobile" class="social-icon" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>

    </div>
  </div>
</header>
