.container{
  width:100%;
  max-width: 1400px;
  margin: 20px auto 20px;
  padding-bottom:45%;
  position:relative;

  @media (max-width: 768px) {
    margin: 65px auto 20px;
    padding-bottom:100%;
  }
}
