<main class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Politique de protection des données personnelles</li>
      </ol>
    </div>
  </nav>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-3 mb-lg-0">
          <h1 class="title mt-2"><b>Politique de protection des données personnelles de la société ZoneADSLMobile Limited</b></h1>
          <h1 class="title mt-2">But et Portée de la Politique</h1>
          <p>Conscient de l'importance d'assurer la confidentialité des données, la société ZoneADSLMobile Limited prend des engagements forts vis-à-vis de la protection des données à caractère personnel.</p>
            <br>
          <p>La présente politique de protection des données à caractère personnel a pour objectif d'informer l'internaute sur les engagements et mesures pris afin de veiller à la protection des données à caractère personnel.</p>
            <br>
          <p>La présente politique de confidentialité pourrait évoluer en fonction du contexte légal et réglementaire et de la doctrine de la Commission nationale de l'informatique et des libertés (CNIL).</p>

          <h1 class="title mt-2">Responsable de Traitement des Données </h1>
          <p>Le responsable de traitement de données à caractère personnel est la société ZoneADSLMobile Limited.</p>
          <p>Les informations relatives à la société ZoneADSLMobile Limited sont disponibles dans ses <a routerLink="/pages/mentions-legales"> mentions légales</a></p>
          <h1 class="title mt-2">Données collectées
          </h1>
          <p>La société ZoneADSLMobile Limited veille à ne collecter que des données strictement nécessaires à la finalité des traitements mis en œuvre.</p>
          <p>Les données collectées par la société ZoneADSLMobile Limited le sont par l'intermédiaire des formulaires remplis par l'internaute, en chargeant en ligne des contenus, en souscrivant à des services en ligne ou en adressant des correspondances.</p>
         <p>Les données collectées peuvent être notamment les suivantes :</p>
          <ul>
            <li>- Nom,</li>
            <li>- Prénom,</li>
            <li>- Adresse,</li>
            <li>- Téléphone,</li>
            <li>- Email,</li>
            <li>- Sur option :
              <ul>
                <li> <span class="ml-4">-Opérateur fixe ou mobile actuel,</span> </li>
                <li>  <span class="ml-4"> -souhait de changer ou non d'opérateur.</span></li>
              </ul>
            </li>
          </ul>

          <p>La société ZoneADSLMobile Limited est susceptible de demander à l'internaute de répondre à des sondages qui sont utilisés à des fins scientifiques et statistiques.</p>

          <h1 class="title mt-2">Politique de cookies ZoneADSLMobile Limited - Charte CNIL</h1>
          <p>
          Le site zoneadsl.com utilise des cookies. Retrouvez le détail de leur utilisation sur notre <a routerLink="/pages/cookies"> Chartre CNIL</a> .
          </p>


          <h1 class="title mt-2">Finalités de la collecte des données personnelles
          </h1>
          <p>
            Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de
            celle-ci.<br>
            L'internaute, personne physique, est informé que les informations recueillies font l'objet d'un traitement informatique destiné à effectuer les opérations relatives à la
            gestion des clients concernant :<br>
            - la demande de devis,<br>
            - les commandes,<br>
            - les contrats,<br>
            - les factures,<br>
            - la livraison,<br>
            - la comptabilité et la gestion des comptes clients,<br>
            - la prospection commerciale,<br>
            - le suivi de la relation client,<br>
            - la gestion des demandes de droit d'accès, de rectification et de suppression notamment,<br>
            - l'élaboration de statistiques commerciales,<br>
            - la mesure d'audience,<br>
            - la cession, la location ou l'échange de ses fichiers de clients et de ses fichiers de prospects,<br>
            - la gestion des impayés et des contentieux, la gestion des avis.<br>
            <br>
            La société ZoneADSLMobile Limited indique à l'internaute sur le formulaire de collecte les données obligatoires pour assurer son service par l'apposition du signe suivant : « * ». A défaut
            de réponse de la part de l'internaute sur les champs mentionnés comme obligatoires, ce dernier ne pourra pas s'inscrire et bénéficier des services fournis par la société ZoneADSLMobile Limited.
          </p>

          <h1 class="title mt-2">Durée de conservation des données

          </h1>
          <p>
            Les destinataires des données sont :<br>
            - les personnes chargées du service marketing, du service commercial, des services chargés de traiter la relation client et la prospection, des services administratifs, des
            services informatiques et techniques ainsi que leurs responsables hiérarchiques ;<br>
            - les sous-traitants de la société ZoneADSLMobile Limited;<br>
            - les partenaires commerciaux de la société ZoneADSLMobile Limited sous réserve que la personne physique ait expressément consenti à la communication de ses données personnelles en cochant
            la case prévue à cet effet sur le Site Internet.<br>
          </p>


          <h1 class="title mt-2">Durée de conservation des données          </h1>
          <p>La société ZoneADSLMobile Limited ne conserve les données à caractère personnel que pendant le temps nécessaire aux opérations pour lesquelles elles ont été collectées et dans le respect de la réglementation en vigueur. </p>
          <strong>Gestion fichier client / prospect :</strong>
          <p>
            La personne physique est également informée que la société ZoneADSLMobile Limited conservera les données transmises selon les critères et recommandations de la CNIL disponibles dans sa
            norme de référence :&nbsp;<a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000033117877&amp;dateTexte=&amp;categorieLien=id" target="_blank">norme simplifiée n°48</a>.
          </p>

          <h1 class="title mt-2">Droits de la personne concernée         </h1>
          <strong>Droit d'accès, rectification, limitation et effacement</strong>
          <p>
            Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée en 2004 et 2016 et au Règlement Général sur la Protection des Données, toute personne physique
            bénéficie d'un droit :<br>
            - d'accès aux données (limité à deux demandes d'accès par an et sous réserve de justifier de son identité),<br>
            - de rectification des données,<br>
            - à l'effacement des informations qui la concernent dans les conditions fixées à l'article 17 du Règlement Général sur la Protection des Données,<br>
            - droit à la limitation du traitement,<br>
            - droit de définir des directives générales et particulières définissant la manière dont elle entend que soient exercés, après son décès, ces droits.
          </p>
          <strong>Droit d'opposition</strong>

          <p>
            La personne physique également d'un droit d'opposition au traitement de ses données à caractère personnel pour des motifs légitimes, ainsi que d'un droit d'opposition à ce que
            ces données soient utilisées à des fins de prospection commerciale.<br>
          </p>
          <strong>Droit à la portabilité des données</strong>

          <p>
            La personne fichée dispose en outre d'un droit à la portabilité de ses données. Conformément à l'article 20 du GDPR, la personne concernée dispose du droit de recevoir les
            données à caractère personnel la concernant qu'elle a fournie à la société ZoneADSLMobile Limited, dans un format structuré, couramment utilisé et lisible par machine, et a le droit de
            transmettre ces données à un autre responsable du traitement sans que la société ZoneADSLMobile Limited à laquelle les données à caractère personnel ont été communiquées y fasse obstacle.
          </p>
          <strong>Droit d'introduire une réclamation auprès de la CNIL</strong>

          <p>
            Enfin, la personne concernée peut le cas échéant, introduire une réclamation auprès des <a href="https://www.cnil.fr/fr/plaintes" target="_blank" title="Réclamations CNIL">services
            de la CNIL </a>. Pour ce faire, elle peut s'adresser à la Cnil par courrier ou par téléphone (informations disponibles <a href="https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil" target="_blank" title="Contacter la CNIL">ici</a>).<br>
            <br>
            Elle peut exercer ces droits en justifiant de son identité et en s'adressant à la société ZoneADSLMobile Limited à l'adresse mail  <a href="mailto:contact@zoneadslmobile.com">
            contact&#64;zoneadslmobile.com</a> ou par courrier postal à l'adresse
            suivante : Espace Tunis Bloc H, Montplaisir
            1073 Tunis
          </p>
          <div class="mb-6 mt-6"></div>
        </div>
      </div>
    </div>
  </div>
</main>



