<div class="container newsletter-popup-container h-auto" id="newsletter-popup-form">
  <div class="modal-content overflow-hidden m-0">
    <div class="row justify-content-center position-relative">
      <!-- Bouton de fermeture en croix rouge -->



      <div class="col-12">
        <div class="row no-gutters bg-white newsletter-popup-content">
          <div class="col-xl-12 col-lg-12 banner-content-wrap">
            <div class="banner-content text-center" *ngIf="!isAppointmentNow">
              <form [formGroup]="editForm2" (ngSubmit)="completeMobile()">

                <!-- Header -->
                <div class="text-center mb-3">
                  <img src="assets/images/ohm-energie-logo-300.png" alt="Logo" class="img-fluid"
                       style="max-width: 100px; margin: auto;" />
                  <h4 class="mt-2" style="font-size: 14px; font-weight: bold; color: #000;">
                    Me faire rappeler par les équipes commerciales de Ohm Energie
                  </h4>
                  <p style="color: #666; font-size: 11px;">
                    Pour toutes demandes relatives au suivi de commandes ou à vos factures, rendez-vous sur l'Espace Client Ohm Energie
                  </p>
                </div>

                <!-- Téléphone -->
                <div class="form-group">
                  <input type="tel"
                         class="form-control"
                         placeholder="Téléphone (ex: 0612345678)"
                         formControlName="phone"
                         [ngClass]="{'is-invalid': editForm2.get('phone')?.invalid && editForm2.get('phone')?.touched}">
                  <div class="invalid-feedback" *ngIf="editForm2.get('phone')?.errors?.['required']">
                    Le numéro de téléphone est requis.
                  </div>
                  <div class="invalid-feedback" *ngIf="editForm2.get('phone')?.errors?.['pattern']">
                    Format invalide. Le numéro doit comporter 10 chiffres et commencer par 0.
                  </div>
                </div>

                <!-- Prénom et Nom -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           placeholder="Prénom"
                           formControlName="firstName">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           placeholder="Nom"
                           formControlName="lastName">
                  </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         placeholder="Email"
                         formControlName="email"
                         [ngClass]="{'is-invalid': editForm2.get('email')?.invalid && editForm2.get('email')?.touched}">
                  <div class="invalid-feedback" *ngIf="editForm2.get('email')?.errors?.['required']">
                    L'adresse email est requise.
                  </div>
                  <div class="invalid-feedback" *ngIf="editForm2.get('email')?.errors?.['email']">
                    Format d'email invalide.
                  </div>
                </div>

                <!-- Date et Heure de rappel -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="date"
                           class="form-control"
                           formControlName="recallDate"
                           (change)="onDateChange($event)"
                           [ngClass]="{'is-invalid': editForm2.get('recallDate')?.invalid && editForm2.get('recallDate')?.touched}">
                    <div class="invalid-feedback" *ngIf="editForm2.get('recallDate')?.errors?.['required']">
                      La date de rappel est requise.
                    </div>
                    <div class="invalid-feedback" *ngIf="editForm2.get('recallDate')?.errors?.['futureDate']">
                      La date doit être aujourd'hui ou dans le futur.
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <select class="form-control"
                            formControlName="recallHour"
                            [ngClass]="{'is-invalid': editForm2.get('recallHour')?.invalid && editForm2.get('recallHour')?.touched}">
                      <option value="">Sélectionnez une heure</option>
                      <option *ngFor="let hour of availableHours" [value]="hour.id">{{ hour.text }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="editForm2.get('recallHour')?.errors?.['required']">
                      L’heure de rappel est requise.
                    </div>
                  </div>
                </div>


                <!-- Fournisseur actuel -->
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Votre fournisseur actuel (optionnel)"
                         formControlName="supplier">
                </div>

                <!-- Changement de fournisseur -->
                <div class="form-check mb-3 text-left">
                  <input type="checkbox"
                         class="form-check-input"
                         id="switchSupplier"
                         formControlName="isSwitchSupplier">
                  <label class="form-check-label" for="switchSupplier">
                    Je souhaite changer de fournisseur
                  </label>
                </div>

                <!-- Acceptation des conditions -->
                <div class="form-check mb-3 text-left">
                  <input type="checkbox"
                         class="form-check-input"
                         id="acceptation"
                         formControlName="acceptation"
                         [ngClass]="{'is-invalid': editForm2.get('acceptation')?.invalid && editForm2.get('acceptation')?.touched}">
                  <label class="form-check-label" for="acceptation">
                    J’accepte d’être rappelé(e) par les équipes Ohm Energie
                  </label>
                  <div class="invalid-feedback" *ngIf="editForm2.get('acceptation')?.errors?.['required']">
                    Vous devez accepter les conditions pour continuer.
                  </div>
                </div>

                <!-- Bouton d’envoi -->
                <button type="submit" class="btn btn-primary w-100" [disabled]="editForm2.invalid || isLoading">
                  {{ isLoading ? 'Envoi en cours...' : 'Envoyer ma demande de rappel' }}
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>      <button title="Close (Esc)" type="button" class="mfp-close" (click)="closeModal()"><span>×</span></button>


    </div>
  </div><!-- .modal-content -->
</div><!-- .newsletter-popup-container -->
