<main class="main">

  <div class="page-content pb-0">


    <div class="container">
      <div class="row" contentAnim aniName="fadeInLeftShorter">
        <div class="col-lg-12 mb-3 mb-lg-0">
          <h1 class="title mt-2">Un conseiller Zone ADSL MOBILE à votre écoute</h1>
          <p>Zoneadslmobile.com est le partenaire agréé des fournisseurs d'accès à internet RED, Bouygues Telecom, SFR et Free.</p>
         <p></p>
          <div class="row justify-content-center mt-3 mb-20">
            <img src="assets/images/providers/free.svg" class="h64 mr-2 ml-2" alt="Free">
            <img src="assets/images/providers/bouygues-telecom.svg" class="h64 mr-2 ml-2" alt="Bouygues Telecom">
            <img src="assets/images/providers/sfr.svg" class="h64 mr-2 ml-2" alt="SFR">
            <img src="assets/images/providers/red-by-sfr.svg" class="h64 mr-2 ml-2" alt="Red by SFR">
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-8 col-sm-8 col-xs-12 nohmrg advisor1">
            <h2 class="title mt-2">Besoin de conseils sur les offres internet ou le changement d'opérateur&nbsp;?</h2>
            <p>
              <strong>Nos conseillers vous aident à choisir le forfait internet qui vous convient le&nbsp;mieux.</strong><br>
              Ils connaissent les offres internet du marché sur le bout des doigts : les prix, les promotions du moment, les spécificités techniques et les modalités de résiliation...<br><br>
              N'hésitez plus à les appeler pour bénéficier de leur expertise&nbsp;!
            </p>
          </div>
          <div class="col-sm-4 col-xs-12 advisor2">

            <div class="col-sm-12 col-xs-12 text-center" style="">
              <h3  class="title mt-2 text-success">Nos conseillers sont <br>actuellement disponibles</h3>
              <p><strong>Appelez-nous au :</strong></p>
              <div style="display:inline-block; margin:10px;">
                  <span class="phone_number"><a href="tel:+330980803537" style="font-size: 18px" class="text-center p-2"> 09 80 80 35 37 | Poste: 393 </a>
                    <span class="freecall">Appel gratuit</span></span>
              </div>
            </div>



            <strong >Nos conseillers sont disponibles gratuitement 24H/24 et 7J/7.</strong>
            <div class="text-center" style="margin: 10px 0px;" >OU</div>
            <div class="col-sm-12 col-xs-12 inverse">
              <strong>Faites-vous rappeler</strong>
              <button (click)="onShowModel()" type="button" class="rappel btnclbck" style="margin-left:15px;" data-origin="conseiller">Demande de rappel</button>
            </div>
          </div>
        </div>

      </div>

      <div class="mb-3"></div>

      <div class="row">

          <div class="col-md-4">
            <div class="cadre">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Comparez les offres</h3>
              <p>Nos conseillers vous informent sur tous les forfaits Internet disponibles pour votre domicile.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cadre">
              <h3><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Changez sereinement</h3>
              <p>Faites-vous accompagner par l'un de nos conseillers pour changer d'opérateur en toute sérénité.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cadre">
              <h3><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Dépensez moins</h3>
              <p>Avec Zoneadslmobile.com, bénéficiez des meilleurs tarifs et de promotions exclusives.</p>
            </div>
          </div>

      </div>

      <div class="mb-7"></div>
    </div>

  </div>
</main>


