

<footer class="footer">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <img src="assets/images/TELEVORA2.png" class="footer-logo" alt="Footer Logo" width="180">

            <div class="widget-call">
              <i class="fas fa-phone-alt"></i>
              Vous avez une question ? Appelez-nous 24h/24 et 7j/7
              <a href="tel:+330980803537">09 80 80 35 37</a>
            </div>

            <div class="social-links">
              <a href="https://wa.me/33756892743" class="social-link social-whatsapp" target="_blank">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a href="https://www.facebook.com/zoneadslmobile/" class="social-link social-facebook" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCvqCW_p1nmjJPdJ_bRDOfDA" class="social-link social-youtube" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="https://www.linkedin.com/company/zoneadslmobile" class="social-link social-linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">NOS SERVICES</h4>
            <ul class="widget-list">
              <li><a href="#">Comparateur box internet
              </a></li>
              <li><a href="#">Comparateur forfait mobile</a></li>
              <li><a href="/freepro">FreePro</a></li>
              <li><a href="/gaz-electricite">Gaz & Électricité<</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">ASSISTANCE</h4>
            <ul class="widget-list">
              <li><a href="#">Support Technique</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Guide d'installation</a></li>
              <li><a href="#">État du réseau</a></li>
              <li><a href="#">Espace Client</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">CONTACT & INFORMATIONS</h4>
            <ul class="widget-list">
              <li><a href="/contact">Contactez-nous</a></li>
              <li><a href="/votre-conseiller">Votre conseiller</a></li>
              <li><a href="/mentions-legales">Mentions légales</a></li>
              <li><a href="/rgpd">Politique de confidentialité</a></li>
              <li><a href="/Actualites">Actualités</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="rating-container">
        <img src="assets/images/avis.png" alt="Avis Vérifiés">
        <div class="rating-stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <span>4.5/5 sur 287 avis</span>
      </div>



      <p class="footer-copyright">
        © 2025 <a href="https://TELEVORA.fr/">TELEVORA</a> - Développé par
        <a target="_blank" href="https://maps-it.com/">MapsIT</a>
      </p>
    </div>
  </div>
</footer>
