<main class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Politique de protection des données personnelles</li>
      </ol>
    </div>
  </nav>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-3 mb-lg-0">
          <h1 class="title mt-2"><b>Politique de cookies ZoneADSLMobile Limited - Charte CNIL</b></h1>

          <h1 class="title mt-2">1 - QU'EST CE QU'UN COOKIE ?</h1>
          <p> Un cookie est un fichier texte susceptible d'être enregistré dans un espace dédié du disque dur de votre
            terminal* à l'occasion de la consultation d'un service en ligne grâce à votre logiciel de navigation. Un
            fichier cookie permet à son émetteur d'identifier le terminal dans lequel il est enregistré, pendant la
            durée de validité ou d'enregistrement dudit cookie.</p>
          <p>* Le terminal désigne l'équipement matériel (ordinateur, tablette, smartphone, etc.) que vous utilisez pour
            consulter ou voir s'afficher un site, une application, un contenu publicitaire etc.</p>


          <h1 class="title mt-2">2 - QUELS COOKIES UTILISONS-NOUS ? </h1>
          <p> Nous utilisons quatre types de cookies dont les finalités sont décrites ci-après.</p>
          <strong>Les cookies strictement nécessaires au fonctionnement du site</strong>
          <p>
            Il s'agit des cookies indispensables à la navigation sur notre site (comme les identifiants de session) qui
            vous permettent d'utiliser les principales fonctionnalités du site et de sécuriser votre connexion.
            <br>
            >Ils vous permettent par exemple d'accéder directement à des espaces réservés et personnels de notre site,
            grâce à des identifiants ou des données que vous nous avez éventuellement antérieurement confiées. Sans ces
            cookies vous ne pourrez utiliser normalement le site, nous vous déconseillons de les supprimer.
          </p>
          <p>Il s'agit des cookies suivants :
            - Cookie : ngx-cookie-service with JWT <br>
            - Quelles données collectées & Durée de conservation: Identifiant technique <br>
            - Durée : session utilisateur <br>
            - Utilité : Cookie à des fins de sécurité. <br>
          </p>

          <strong>Les cookies de fonctionnalité</strong>
          <p>
            Ces cookies ne sont pas indispensables à la navigation sur notre site mais permettent d'optimiser son
            fonctionnement et de vous donner accès à des fonctionnalités spécifiques. <br>
            Ils vous permettent également d'adapter la présentation de notre site aux préférences d'affichage de votre
            terminal. Ces cookies vous permettent ainsi d'avoir une navigation fluide et sur mesure. <br>
            Placer des cookies sur votre terminal est le moyen le plus simple et le plus rapide pour personnaliser et
            améliorer votre expérience utilisateur.<br>
          </p>

          <p>Parmi ces cookies de fonctionnalité :
            cnil avec Préférence utilisateur de Durée : 30 jours et Permet de savoir si l'internaute accepte les
            cookies.
            <br>
            - zauid avec Durée : 120 jours, Cookie d'identification interne. Permet de personnaliser les services en
            fonction des pages vues par l'utilisateur.
            <br>
            - zacid avec Durée : 120 jours. Cookie d'identification interne. Permet de personnaliser les services en
            fonction des pages vues par l'utilisateur.
            <br>
            - timeToAdvise avec Identifiant technique Durée : session utilisateur Cookie gérant le popin de demande
            d'informations.
            <br>
            - timeToAdviseLastReset avec Identifiant technique Durée : session utilisateur Cookie gérant le popin de
            demande d'informations.
          </p>

          <strong>Les cookies analytiques</strong>
          <p>
            Il s'agit de cookies qui nous permettent de connaître l'utilisation et les performances de notre site,
            d'établir des statistiques, des volumes de fréquentation et d'utilisation des divers éléments de notre site
            (contenus visités, parcours) nous permettant d'améliorer l'intérêt et l'ergonomie de nos services (les pages
            ou les rubriques les plus souvent consultées, les articles les plus lus, etc.).
          </p>

          <p>Il s'agit des cookies suivants :
            cnil avec Préférence utilisateur de Durée : 30 jours et Permet de savoir si l'internaute accepte les
            cookies.
            <br>
            - Cookie : _ga, _utma, _utmb, _utmc, _utmt, _utmz. <br>
            - Quelles données collectées & Durée de conservation: Pages Internet consultées sur notre site
            Cookie tiers. <br>
            - Utilité: Etablir des statistiques et volumes de fréquentation et d'utilisation des divers éléments
            composant notre site.
          </p>


          <strong>Les cookies de partage (liens sociaux)</strong>
          <p>
            Notre site contient des liens de partage vers Facebook, Twitter et autres réseaux sociaux similaires qui
            vous permettent de partager des contenus de notre site avec d'autres personnes. Lorsque vous utilisez ces
            boutons de partage, un cookie tiers est installé. Si vous êtes connecté au réseau social lors de votre
            navigation sur notre site, les boutons de partage permettent de relier les contenus consultés à votre compte
            utilisateur.
          </p>
          <p>
            Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de
            prendre connaissance des finalités d'utilisation, notamment publicitaires, et des informations de navigation
            qu'ils peuvent recueillir grâce à ces boutons applicatifs.
          </p>


          <p>Il s'agit des cookies suivants :
            cnil avec Préférence utilisateur de Durée : 30 jours et Permet de savoir si l'internaute accepte les
            cookies.
            <br>
            - Cookie : Boutons de partage réseaux sociaux <br>
            - Quelles données collectées & Durée de conservation: Cookies tiers <br>
            - Utilité: Leur suppression/refus entraîne l'impossibilité de partager les contenus.
          </p>

          <strong>Les cookies publicitaires </strong>
          <p>
            Il s'agit de cookies utilisés pour vous proposer des publicités adaptées à vos centres d'intérêts, sur notre
            site mais aussi d'autres sites. Ils sont notamment utilisés pour limiter le nombre de fois où vous voyez une
            publicité et aider à mesurer l'efficacité d'une campagne publicitaire. <br>
            La pertinence des contenus publicitaires affichés sur votre terminal peut également être réalisée par
            l'association des informations de navigation de votre terminal sur notre site avec les données que vous nous
            avez fournies lors de votre inscription ou de votre accès à l'un de nos services.<br>
            Le refus de ces cookies publicitaires n'a pas d'impact sur l'utilisation de notre site. Cependant, le fait
            de les refuser n'entraînera pas l'arrêt de la publicité sur notre site ou sur Internet.<br>
            Cela aura seulement pour effet d'afficher une publicité qui ne tiendra pas compte de vos centres d'intérêt
            ou de vos préférences.<br>
            Ces cookies sont majoritairement des cookies tiers et dépendent principalement des régies publicitaires.
          </p>


          <h1 class="title mt-2">3 - LES COOKIES DE TIERS </h1>
          <p> L'émission et l'utilisation de cookies par des tiers sont soumises aux politiques « cookies » de ces tiers
            (par exemple des partenaires comme les opérateurs de télécommunication).</p>
          <p>Il s'agit des cookies déposés sur votre terminal par des sociétés tierces lorsque vous naviguez ou bien
            cliquez dans les espaces publicitaires de notre site. Dans le cadre de partenariats, nous veillons à ce que
            les sociétés partenaires respectent strictement la loi informatique et libertés du 6 janvier 1978 modifiée
            et s'engagent à mettre en œuvre des mesures appropriées de sécurisation et de protection de la
            confidentialité des données. <br>
            Nous vous informons de l'objet des cookies dont nous avons connaissance et des moyens dont vous disposez
            pour effectuer des choix à l'égard de ces cookies.
          </p>
          <strong>Du fait d'applications tierces intégrées à notre site </strong>
          <p>
            Nous sommes susceptibles d'inclure sur notre site, des applications informatiques émanant de tiers, qui vous
            permettent de partager des contenus de notre site avec d'autres personnes ou de faire connaître à ces autres
            personnes votre consultation ou votre opinion concernant un contenu de notre site/application. Tel est
            notamment le cas des boutons "Partager" issus de réseaux sociaux tels que Facebook, Twitter, Google +,
            Linkedin et du module de partage Socials_Shares sur les pages articles et actualités de notre site internet
            etc...
          </p>

          <p>Le réseau social fournissant un tel bouton applicatif est susceptible de vous identifier grâce à ce bouton,
            même si vous n'avez pas utilisé ce bouton lors de votre consultation de notre site. En effet, ce type de
            bouton applicatif peut permettre au réseau social concerné de suivre votre navigation sur notre site, du
            seul fait que votre compte au réseau social concerné était activé sur votre terminal (session ouverte)
            durant votre navigation sur notre site.
          </p>
          <p>Nous n'avons pas le contrôle sur le processus employé par les réseaux sociaux pour collecter des
            informations relatives à votre navigation sur notre site et associées aux données personnelles dont ils
            disposent. Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux
            sociaux afin de prendre connaissance des finalités d'utilisation, notamment publicitaires, des informations
            de navigation qu'ils peuvent recueillir grâce à ces boutons applicatifs. Ces politiques de protection
            doivent notamment vous permettre d'exercer vos choix auprès de ces réseaux sociaux, notamment en paramétrant
            vos comptes d'utilisation de chacun de ces réseaux.
          </p>

          <strong>Via des contenus de tiers diffusés dans nos espaces publicitaires </strong>
          <p>
            Les contenus publicitaires sont susceptibles de contenir des cookies émis par des tiers : soit l'annonceur à
            l'origine du contenu publicitaire concerné, soit une société tierce à l'annonceur (agence conseil en
            communication, société de mesure d'audience, prestataire de publicité ciblée, etc.), qui a associé un cookie
            au contenu publicitaire d'un annonceur.<br>
            Le cas échéant, les cookies émis par ces tiers peuvent leur permettre, pendant la durée de validité de ces
            cookies :
          </p>

          <p>
            - de comptabiliser le nombre d'affichages des contenus publicitaires diffusés via nos espaces publicitaires,
            d'identifier les publicités ainsi affichées, le nombre d'utilisateurs ayant cliqué sur chaque publicité,
            leur permettant de calculer les sommes dues de ce fait et d'établir des statistiques,<br>
            - de reconnaître votre terminal lors de sa navigation ultérieure sur tout autre site ou service sur lequel
            ces annonceurs ou ces tiers émettent également des cookies et, le cas échéant, d'adapter ces sites et
            services tiers ou les publicités qu'ils diffusent, à la navigation de votre terminal dont ils peuvent avoir
            connaissance.
          </p>


          <h1 class="title mt-2">4 - MODALITÉS DE REFUS/SUPPRESSION DES COOKIES
          </h1>
          <p> L'enregistrement d'un cookie dans un terminal est essentiellement subordonné à la volonté de l'utilisateur
            du terminal, que celui-ci peut exprimer et modifier à tout moment et gratuitement.<br>
            Si vous avez accepté dans votre logiciel de navigation l'enregistrement de cookies dans votre terminal, les
            cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement
            dans un espace dédié de votre terminal.<br>
            Si vous refusez l'enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont
            enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de fonctionnalités de notre site.<br>
            Voilà les moyens mis à votre disposition pour accepter/refuser ou supprimer les cookies présents sur notre
            site :
          </p>

          <strong>Le paramétrage de votre navigateur </strong>
          <p>
            La plupart des navigateurs acceptent les cookies par défaut. Cependant, vous pouvez décider de bloquer ces
            cookies ou demander à votre navigateur de vous avertir lorsqu'un site tente d'implémenter un cookie sur
            votre terminal.<br>
            Pour changer la gestion des cookies de votre navigateur, vous pouvez modifier les réglages dans l'onglet
            confidentialité.
          </p>
          <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est
            décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos
            souhaits en matière de cookies.<a
              href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur."
              target="_blank"> Voir l'article du CNIL</a></p>





          <strong>Désactiver les cookies du site <a href="www.zoneadslmobile.com">www.zoneadslmobile.com</a> : </strong>



          <strong>Fonctionnement et fonctionnalités</strong>
          <p>Ces cookies ne peuvent pas être désactivés car cela empêcherait le fonctionnement correct du site.</p>
      
          <strong>Social et Webanalytics</strong>
          <p>Ce niveau de désactivation intermédiaire maintient les cookies sociaux et les cookies de Webanalytics.
          Pour les mesures de trafic dites de “Webanalytics”, ZoneADSLMobile Limited utilise Google Analytics. Pour bloquer l’utilisation des données par Google Analytics : <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>
          <p>Plus d’informations sur ce lien du support Google : <a href="https://support.google.com/analytics/answer/181881?hl=fr">https://support.google.com/analytics/answer/181881?hl=fr</a></p>
      
          <p>ZoneADSLMobile Limited utilise en particulier les boutons de partage Facebook et Twitter :</p>
          <ul>
              <li>Pour gérer vos données sur Facebook : <a href="https://www.facebook.com/help/cookies/">https://www.facebook.com/help/cookies/</a></li>
              <li>Pour gérer vos données sur Twitter : <a href="https://support.twitter.com/articles/20170518-utilisation-des-cookies-et-des-technologies-similaires-par-twitter">https://support.twitter.com/articles/20170518-utilisation-des-cookies-et-des-technologies-similaires-par-twitter</a></li>
          </ul>
          <p>Désactiver ces cookies empêche donc toute interaction avec les réseaux sociaux. Les cookies de Webanalytics nous permettent d’obtenir des statistiques de fréquentation anonyme de notre site afin de l’optimiser et de détecter d’éventuels dysfonctionnements.</p>
      
          <strong>Comment supprimer les cookies sur votre navigateur ?</strong>
          <p>Nous vous informons que vous pouvez vous opposer à l'enregistrement de cookies en suivant le mode opératoire disponible ci-dessous :</p>
      
          <i>Sur Internet Explorer :</i>
          <ol>
              <li>Allez dans Outils > Options Internet.</li>
              <li>Cliquez sur l'onglet confidentialité.</li>
              <li>Cliquez sur le bouton avancé, cochez la case " Ignorer la gestion automatique des cookies".</li>
          </ol>
      
          <i>Sur Firefox :</i>
          <ol>
              <li>En haut de la fenêtre de Firefox, cliquez sur le bouton Firefox (menu Outils sous Windows XP), puis sélectionnez Options.</li>
              <li>Sélectionnez le panneau Vie privée.</li>
              <li>Paramétrez Règles de conservation : à utiliser les paramètres personnalisés pour l'historique.</li>
              <li>Décochez Accepter les cookies.</li>
          </ol>
      
          <i>Sur Chrome :</i>
          <ol>
              <li>Cliquez sur l'icône représentant une clé à molette qui est située dans la barre d'outils du navigateur.</li>
              <li>Sélectionnez Paramètres.</li>
              <li>Cliquez sur Afficher les paramètres avancés.</li>
              <li>Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.</li>
              <li>Dans la section "Cookies", vous pouvez bloquer les cookies et données de sites tiers</li>
          </ol>
      
          <i>Sur Safari :</i>
          <ol>
              <li>Allez dans Réglages > Préférences</li>
              <li>Cliquez sur l'onglet Confidentialité</li>
              <li>Dans la zone " Bloquer les cookies ", cochez la case "toujours"</li>
          </ol>
      
          <i>Sur Opéra :</i>
          <ol>
              <li>Allez dans Réglages > Préférences</li>
              <li>Cliquez sur l'onglet avancées</li>
              <li>Dans la zone " Cookies ", cochez la case " Ne jamais accepter les cookies"</li>
          </ol>
      
          <strong>L'utilisation d'une plateforme de gestion de cookies pour les cookies de partage et les cookies publicitaires</strong>
          <p>Vous trouverez plus d'information sur la publicité comportementale et sur la protection de la vie privée sur Internet à cette adresse : <a href="https://www.youronlinechoices.com/fr/">https://www.youronlinechoices.com/fr/</a> et connaitrez ainsi les entreprises inscrites qui vous offrent la possibilité de refuser ou d'accepter les cookies utilisés par ces entreprises pour adapter à vos informations de navigation les publicités susceptibles d'être affichées sur votre terminal.</p>
          <p>Le cookie déposé en cas d'utilisation des boutons de partage est également inclus dans cette plateforme.</p>
          <p>Attention, la prise en compte de votre souhait repose sur un cookie. Si vous supprimez tous les cookies enregistrés dans votre terminal (via votre navigateur), nous ou nos prestataires ne saurons pas que vous avez choisi cette option.</p>
      



          <h1 class="title mt-2"> 5 - PLUS D'INFORMATIONS SUR LES COOKIES</h1>
          <p>Sur le site de la CNIL : <a
              href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur">https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</main>