<main class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">

        <li class="breadcrumb-item active">Conditions générales d'utilisation</li>
      </ol>
    </div>
  </nav>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-3 mb-lg-0">
          <h1 class="title mt-2">Conditions générales d'utilisation</h1>
          <p>Le site ZoneADSLMobile ainsi que l'ensemble de son contenu sont régis par le droit français : tout litige
            éventuel sera soumis à la compétence des tribunaux français.</p>
          <p>Cette page reprend les mentions légales s'appliquant à tout internaute qui utilise le site ZoneADSLMobile.
            En
            visitant le site ZoneADSLMobile, vous acceptez ces mentions légales dans leur intégralité, et vous vous
            engagez à
            les respecter. Les mentions légales sont susceptibles d'être modifiées à tout moment, vous êtes donc invité
            à les consulter régulièrement.</p>

          <h1 class="title mt-2">Infos société</h1>
          <p>Le site ZoneADSLMobile (https://www.zoneadslmobile.com) est édité par :</p>


          <ul>
            <li> Raison sociale &nbsp;: Zone-Adsl Mobile sous le numéro 14701404 </li>
            <li> Capital social &nbsp;: 20 000 euros </li>
            <li> Adresse du siège social &nbsp;: 71-75 Shelton Street , Covent Garden London </li>
            <li> Email &nbsp;: <a href="mailto:contact@zoneadslmobile.com">
                contact&#64;zoneadslmobile.com</a></li>
            <li> Téléphone&nbsp;: (+33) 09 80 80 35 37 </li>
            <li>Directeur de publication : Gharbi Fathi </li>
            <li>Coordonnées de l’hébergeur : OVH</li>
          </ul>


          <h1 class="title mt-2">Propriété Intellectuelle</h1>

          <p>Le site ZoneADSLMobile appartient à ZoneADSLMobile Limited Le contenu figurant sur les pages de ce site est la
            propriété exclusive de ZoneADSLMobile.</p>
          <p>L'ensemble de ce site relève de la législation française sur le droit d'auteur et sur la propriété
            intellectuelle, aussi bien pour sa forme (organisation des données, plan, moyens d'accès aux données, etc.),
            que pour son contenu (textes et images).<br>
            Vous vous engagez à ne pas utiliser ces contenus et à ne pas en autoriser l'utilisation, par une tierce
            personne, à des fins illégales.</p>
          <p>Toute reproduction, représentation ou diffusion, de la totalité ou d'une partie, du contenu de ce site sont
            interdites, quels que soient les supports ou les procédés utilisés. Le non-respect de cette interdiction
            constitue une contrefaçon susceptible d'engager votre responsabilité civile et pénale. Seule la copie à
            usage privé (pour votre usage personnel et non commercial) est autorisée.</p>

          <h1 class="title mt-2">Liens vers d'autres sites</h1>

          <p>ZoneADSLMobile n'est en aucun cas responsable du contenu des sites tiers, auxquels vous pourriez avoir
            accès via nos liens. Nous ne possédons pas les moyens de contrôler l'intégralité des contenus de ces sites,
            entièrement indépendants de ZoneADSLMobile.</p>
          <h1 class="title mt-2">Utilisation des cookies</h1>

          <p>Un cookie est un petit texte donné à votre navigateur via le site Web consulté. Grâce à ce cookie, des
            informations sur votre visite, notamment les paramètres de connexion à votre compte, sont enregistrées sur
            le site Web. Cela peut faciliter vos futures visites et renforcer l'utilité de ce dernier pour vous. Les
            cookies jouent un rôle important. Sans les cookies, l'utilisation du Web pourrait s'avérer beaucoup plus
            lente et fastidieuse. Nous utilisons les cookies à diverses fins. Nous les employons, par exemple, pour
            mémoriser l’état de connexion à votre compte, adapter le site à votre terminal mobile ou bureau, conserver
            la liste des produits que vous mettez dans votre panier, accroître la pertinence des annonces et suggestions
            diffusées à votre attention, compter les visiteurs d'une page, vous aider à vous inscrire à nos services et
            à protéger vos données.</p>
          <h1 class="title mt-2">Prix</h1>
          <p>Les prix indiqués sur ZoneADSLMobile reprennent les prix annoncés par les FAI. Les prix, sauf indication
            contraire, sont toujours mentionnés toutes taxes comprises (TTC).</p>
          <h1 class="title mt-2">Offres répertoriées</h1>
          <p>Les offres indiquées sur le site ZoneADSLMobile sont régulièrement mises à jour, et reprennent les
            conditions contractuelles des FAI.</p>
          <p>L'abonnement en ligne respecte les conditions générales de vente des FAI.</p>

          <h1 class="title mt-2">Données personnelles</h1>

          <p>ZoneADSLMobile ne communiquera pas à ses partenaires les informations personnelles que vous pourriez nous
            communiquer par email. Vos données ne seront utilisées qu'afin de vous répondre le plus efficacement
            possible.</p>
          <p>Conformément à la loi "Informatique et Liberté" du 6 janvier 1978, vous disposez d'un droit d'accès, de
            modification, de rectification et de suppression des données personnelles qui vous concernent.</p>
          <h1 class="title mt-2"> Test d'éligibilité</h1>

          <strong>Fonctionnement</strong>
          <p>Les fournisseurs d'accès à Internet mettent à notre disposition un test d'éligibilité que nous utilisons
            pour obtenir les résultats. Ces résultats sont donc relativement sûrs sauf en cas d'erreur d'analyse ou
            d'absence de réponse des fournisseurs. Tous les résultats des tests sont fournis à titre purement informatif
            et n'engagent en rien la responsabilité de ZoneADSLMobile ou des différents opérateurs.</p>

          <strong>Conseillers</strong>
          <p>Suite à l'utilisation du test d'éligibilité de ZoneADSLMobile, il est possible qu'un de nos conseillers
            vous rappelle gratuitement afin de vous aider à choisir une offre d'accès à Internet qui réponde au mieux à
            vos besoins, hors offres Mobile ou Internet d'Orange.</p>
          <p>Ce service proposé gracieusement à nos visiteurs est fourni sans obligation de souscription ou d'achat.
            Pour toutes demandes de souscription effectuées par ce biais, <strong> le consommateur dispose d'un délai de
              quatorze jours francs pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer
              de pénalités, à l'exception, le cas échéant, des frais de retour.</strong> Lorsque le <strong> délai
            </strong>quatorze jours expire un samedi, un dimanche ou un jour férié ou chômé, il est <strong> prorogé
              jusqu'au premier jour ouvrable suivant.</strong></p>
          <p>Les appels de nos conseillers faisant l'objet d'écoutes qualitatives, ces appels peuvent être enregistrés à
            des fins non commerciales et restent alors dans un cadre d'informations strictement confidentielles.</p>
          <p>Si vous ne souhaitez pas bénéficier de ce service conseil gratuit ou pour toutes autres réclamations
            concernant ce service, merci de nous contacter à l'adresse suivante : <a
              href="mailto:contact@zoneadslmobile.com">
              contact&#64;zoneadslmobile.com</a></p>

          <h1 class="title mt-2"> Disponibilité du site web</h1>
          <p>ZoneADSLMobile ne peut garantir un fonctionnement sans défaut de son site : il peut être affecté par des
            éléments que ZoneADSLMobile ne contrôle pas.</p>

          <div class="mb-6 mt-6"></div>

        </div>
      </div>
    </div>
  </div>
</main>
